@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,700;1,100;1,200;1,300;1,400&display=swap");

:root {
  --red: #ff6f61;
  --gray: #2e2e2e;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

button{
  background-color: var(--red);
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e65c50;
}

.logo {
  margin-top: 10px;
}

header {
  background: whitesmoke;
  /* color: white; */
  position: sticky;
  top: 0;
  z-index: 1000;
}
.navbar {
  display: flex;
  justify-content: space-between;
  height: 74px;
  margin: 0 auto;

  max-width: 1200px;
  padding: 0 24px;
  align-items: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 24px;
}

nav li a {
  text-decoration: none;
  color: var(--gray);
  /* color: white; */
  cursor: pointer;
}

.shopping p {
  font-size: 12px;
  margin-bottom: 16px;
}

.shop-name {
  display: flex;
  gap: 20px;
}

.shop-name img {
  cursor: pointer;
}


/* Global scrollbar styles for WebKit browsers */
::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--background-color); /* Track color */

  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  /* background: var(--highlight-color); Scrollbar color */
  background-color: #e65c50;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff2e00; /* Scrollbar color on hover */
}

/* Firefox scrollbar styles */
.scrollable {
  scrollbar-width: thin; /* Set scrollbar width to thin */
  scrollbar-color: var(--highlight-color) var(--background-color); /* Scrollbar color and track color */
}
