
:root {
  --red: #ff6f61;
  --gray: #2e2e2e;
  --primary-color: #333;
  --secondary-color: #666;
  --highlight-color: #ff5733;
  --background-color: #f9f9f9;
  --border-color: #e0e0e0;
}


* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica Now Text', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

button{
  background-color: var(--red);
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e65c50;
}

.logo {
  margin-top: 10px;
}


.shopping p {
  font-size: 12px;
  margin-bottom: 16px;
}

.shop-name {
  display: flex;
  gap: 20px;
}

.shop-name img {
  cursor: pointer;
}


.shop-container {
  padding: 2rem;
  text-align: center;
  background-color: var(--background-color);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  max-width: 800px;
}

.shop-heading {
  font-size: 2.5rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background: linear-gradient(to right, var(--highlight-color), var(--secondary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.shop-description {
  font-size: 1.2rem;
  color: var(--secondary-color);
  line-height: 1.6;
  margin-bottom: 1rem;
}


/* Global scrollbar styles for WebKit browsers */
::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: var(--background-color); /* Track color */

  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  /* background: var(--highlight-color); Scrollbar color */
  background-color: #e65c50;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff2e00; /* Scrollbar color on hover */
}

/* Firefox scrollbar styles */
.scrollable {
  scrollbar-width: thin; /* Set scrollbar width to thin */
  scrollbar-color: var(--highlight-color) var(--background-color); /* Scrollbar color and track color */
}
